/* You can add global styles to this file, and also import other style files */
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
/* @import 'assets/bootstrap/css/bootstrap.min.css'; */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.help-block {
    font-size: 12px;
}

mat-toolbar.mat-toolbar{
    height: 4.5em;
}

.component-headers{
    font-size: 20pt;
    font-weight: 500;
}

  
.material-component-container{
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.prompt-card {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}


.mat-form-field-control-parameters {
    display: flex;
    flex-direction: row;
}

.action-buttons{
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

.fetching-prompt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
}

/* material Z-depth */

.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  
  .z-depth-1-half {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
  
  .z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
  
  .z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }
  
  .z-depth-4 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  }
  
  .z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  }

  /* Rules for sizing the icon. */
.material-icons{
    display: block;
    margin: 0 auto;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }